{% load render_bundle from webpack_loader %}
<!DOCTYPE html>
<html>
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
<div id="root">
</div>
{% render_bundle 'vendor' %}
{% render_bundle 'main' %}
{% render_bundle 'runtime~main' %}

</body>
</html>