
input[disabled] {
  background-color:transparent !important;
  border: 0;
  font-size: 1em;
  cursor: default !important;
  color: black;
}

textarea[disabled] {
  background-color:transparent !important;
  border: 0;
  font-size: 1em;
  cursor: default !important;
  color: black;
}

.add-elements {
  /*color: #e5760a;*/
  font-size: 25px !important;
  /*text-align: right;*/
  float: right;
  cursor: pointer;
}

.borderless {
  border:none !important;
}